doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		script(src='jquery-3.1.0.min.js')
		link(rel='stylesheet' href='comments.css')
		title= title
	body
		div(id='formDiv')
			form(action='/post/thread' method='POST')
				input(type='text' placeholder='name' name='name')
				br
				textarea(placeholder='comment' name='comment')
				br
				button(type='submit') send

		div(id='board')
			each thread in threads
				div(class='threadDiv')
					each comment in thread['comments']	
						div(class='commentLine')
							div(class='commentHeader')
								div(class='commentName')= comment['name']
								div(class='commentDate') #{moment(comment['date']).format('h:mm:ss MM/DD/YY')}
								br
								a(class='commentId' href='/threads/'+thread['_id'])= thread['_id']
							div(class='commentBody')= comment['body']
				hr